$bg: rgb(30,30,30);


.banner{
     height: 40vmax;
     background-color: $bg;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     padding: 3rem;
     box-sizing: border-box;

     
     &::after{
          content: " ";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background:$bg ;
          opacity:0.4;
     }
     h1,p{
          color: aliceblue;
          font-size: 3.1vmax;
          width:48% ;
          z-index:10;
     }
     p{
          font-size: 1.1vmax;
          letter-spacing:0.21vmax;
          word-spacing: 0.32vmax;
          width: 40%;
          font-weight: 50;

     }
     >div{
          display: flex;

          button{
               padding: 1vmax;
               width: 12vmax;
               outline: none;
               border: none;
               z-index: 10;
               border-radius: 1.6vmax;
               margin: 1vmax;
               background-color: white;
               font-size: 1.3vmax;
               display: flex;
               align-items: center;
               justify-content: center;
               cursor: pointer;
               transition: all 0.5s;

               &:nth-child(odd){
                    background-color: white;
                    color: black;
                    filter: drop-shadow(0 0 0 10px);
               }
               &:nth-child(even){
                    color: white;
                    background-color: rgb(46, 44, 44);
               }
               &:hover{
                    opacity: 0.5;
               }


               svg{
                    font-size: 1.79vmax;
                    margin: 0 1vmax;
               }
          }
     }
     
}

.row{
     background-color: $bg;

     padding: 1.5vmax;
     >h2{
          font-weight: 600;
     margin: 0.5vmax;
     }
     >div{
          display: flex;
          overflow-x: auto;

     }

}
.card{
     width:15vmax;
     cursor: pointer;
     margin: 0.3vmax;
     transition: transform 0.5s;
     &:hover{
          transform: translateY(-1vmax);
     }
}
.genreBox{
     overflow-x: auto;
     display: flex;
     height: 5vmax;
     background-color: $bg;
     >a{
          color: black;
          background-color: white;
        padding: 0.6vmax 0;
          margin: 0.8vmax;
          border-radius: 5vmax;
          text-align: center;
          transition: all 0.4s;
          min-width: 9vmax;
          display: flex;
          align-items: center;
          justify-content: center;
        &:hover{
          background-color: rgb(219, 244, 235);
        }
     }
}